@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* ============================
          navbar styles
   ============================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  margin-left: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}

/* ============================
            main styles
   ============================*/

.main {
  margin: 50px 0 100px;
}

/* ============================
            about styles
   ============================*/

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
}

.about-info {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}

.about-button {
  width: 196px;
  height: 44px;
  background: #e02c6d;
  border-radius: 41px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.about-image-container {
  width: 475px;
  height: 475px;
  background-image: url("../images/Circle design.svg");
  background-repeat: no-repeat;
}

.about-image {
  width: 440px;
  height: 414px;
  margin: 33px;
}

/* ============================
        company-name styles
   ============================*/

.company-name {
  width: 1110px;
  height: 110px;
  margin: 70px 165px 100px;
  border: 1px solid #6c6060;
}

.company-logos {
  margin: 35px 62px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

